@import "tailwindcss";

:root {
  --primary: #4B0082;
  --secondary: #9333ea;
  --light: #DBCCE6;
  --background-hover: #D396FF;
  --background-active: #AC3BFF;
  --text: #2D004E;
  --text-dark: #030105;
  --text-light: #212529;
  --text-link: #007bff;
  --border-focus: #A57FC0;
  --border-primary: #ced4da;
  --border-hover: #4B0082;
}

.dark {
  --primary: #480082;
  --secondary: #030105;
  --background: #111827;
  --text: #DBCCE6;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}