@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #51008c;
  --background: #ffffff;
  --secondary: #420073;
  --dark: #250040;
  --light: #DBCCE6;
  --background-hover: #f8eeff;
  --background-active: #e9ccff;
  --text: #2D004E;
  --text-dark: #030105;
  --text-light: #212529;
  --text-link: #007bff;
  --border-focus: #A57FC0;
  --border-primary: #ced4da;
  --border-hover: #4B0082;
  --primary-bg: white;
}

.dark {
  --primary: #7E21D4;
  --secondary: #160026;
  --background: #101828;
  --text: #DBCCE6;
  --dark: #160026;
  --primary-bg: #0a0011;
  --background-hover: #364153;
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--text);
  --color-black: var(--black);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background-hover: var(--background-hover);
  --color-background: var(--background);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}