@import "tailwindcss";

:root {
  --primary: #4B0082;
  --secondary: #9333ea;
  --dark: #21004B;
  --light: #DBCCE6;
  --background-hover: #D396FF;
  --background-active: #AC3BFF;
  --text: #2D004E;
  --text-dark: #030105;
  --text-light: #212529;
  --text-link: #007bff;
  --border-focus: #A57FC0;
  --border-primary: #ced4da;
  --border-hover: #4B0082;
}

.dark {
  --primary: #7E21D4;
  --secondary: #030105;
  --background: #111827;
  --text: #DBCCE6;
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--text);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background-hover: var(--background-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}